# =========================================================
# Vivado generated/project files
# =========================================================

.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/

*.xpr
*.jou
*.log
*.str
*.backup.*
*.xml
*.ltx


# =========================================================
# Keep HDL source files
# =========================================================

!src/
!src/**/*.v


# =========================================================
# Keep constraints
# =========================================================

!constraints/
!constraints/**/*.xdc


# =========================================================
# Keep simulation / documentation results
# =========================================================

!results/
!results/**/*.png
!results/**/*.jpg
!results/**/*.jpeg
!results/**/*.wcfg


# =========================================================
# Keep build / automation scripts
# =========================================================

!scripts/
!scripts/**/*.tcl


# =========================================================
# Repository files
# =========================================================

!README.md
!LICENSE
!.gitignore