# =========================================================
# Vivado generated/project files
# =========================================================

.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.gen/

*.xpr
*.jou
*.log
*.str
*.backup.*
*.ltx


# =========================================================
# HDL source files
# =========================================================

!src/
!src/**/*.v


# =========================================================
# Vivado IP source files
# =========================================================

!src/**/*.xci


# =========================================================
# Constraints
# =========================================================

!constraints/
!constraints/**/*.xdc


# =========================================================
# Documentation
# =========================================================

!docs/
!docs/*.png
!docs/*.jpg
!docs/*.jpeg


# =========================================================
# Simulation results
# =========================================================

!results/
!results/*.png
!results/*.jpg
!results/*.jpeg
!results/*.wcfg


# =========================================================
# Build / automation scripts
# =========================================================

!scripts/
!scripts/*.tcl


# =========================================================
# Repository files
# =========================================================

!README.md
!LICENSE
!.gitignore